body {
    background-color: #008080;
    color: white;
    font-family: sans-serif;    
}

.menu {
    background-color: #c0c0c0;
    border-style: outset;
    border-width: 2px;
    display: flex;
}

.menu .buttonenabled {
    background-color: #c0c0c0;
    border-style: outset;
}
.menu .buttonenabled:active {
    border-style: inset;
}

.menu .buttondisabled {
    background-color: #c0c0c0;
    border-style: inset;
}

.container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}