Body {
    background-color: #181818;
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 3px black;
    opacity: 100%;
    animation: loada 0.5s ease-in-out;
    background-image: url("posbg2web.png");
}

ol {
    text-shadow: 0px 0px 0px;
    text-align: left;
    background-color: #18181879;
}

li {
    background-color: #0f0f0f79;
}

li:hover {
    background-color: #92929279;
}


@keyframes pos {
    0% {

    }

    50% {}

    100% {}
}

#pos {
}

@keyframes loada {
    0% {
        opacity: 0%;
        padding: 100px;
        text-shadow: 0px 0px 33px rgb(255, 255, 255);
        transform: perspective(200px) rotateX(-30deg);
    }

    100% {
        opacity: 100%;
        text-shadow: 0px 0px 3px black;
    }
}

p {
    font-style: italic;
}

.pt {
    padding-bottom: 10px;
    margin: 10px;
}

#download {
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 50px;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
    /* border: 1px solid #b6b6b6; */
    background-color: #727272;
    background-image: url("bbg.png");
}

#download:hover {
    background-color: #494949;
}

#download:active {
    background-image: url("bbgh.png");
    background-color: #868686;
}

.menu {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    background-image: url("toolbarbg.png");
    background-size: contain;
    overflow: hidden;
    margin: 0;
}

.menu input {
    background-image: url("toolbarbbg.png");
    border: 0.5px solid rgba(255, 255, 255, 0.555);
    border-radius: 50px;
    margin-left: 71%;
}

#ilink {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


#ilink:hover {
    background-color: #494949;
    background-image: url("toolbarbbg.png");
}

@keyframes meow {
    0% {
        box-shadow: 0px 0px 33px rgb(0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 83px rgb(0, 174, 255);
        border-color: rgb(0, 174, 255);
    }

    100% {
        box-shadow: 0px 0px 33px rgb(0, 0, 0);
    }
}

.Content {
    box-shadow: 0px 0px 33px rgb(0, 0, 0);
    text-align: center;
    width: 50%;
    padding: 30px;
    background-color: #1f1f1f86;
    overflow: auto;
    border: 1px solid #494949;
    border-radius: 10px;
    animation: meow 5.5s infinite;
}